          {#- prev/next navigation ~#}
          {%- if page.next is defined or page.prev is defined ~%}
          <nav class="mt-6 flex flex-col sm:flex-row space-y-2 sm:space-y-0 space-x-0 sm:space-x-4">
            {%- if page.prev is defined ~%}
            <a class="basis-1/2 py-3 px-4 font-medium hover:no-underline text-left border-solid border border-secondary-300 hover:border-primary-700 dark:hover:border-primary-400 rounded-md" href="{{ url(page.prev) }}" title="{{ page.prev.title }}">
              <div class="mb-2 text-sm text-secondary-600 dark:text-secondary-300">{% trans %}Previous{% endtrans %}</div>
              <div>← {{ page.prev.title }}</div>
            </a>
            {%- else ~%}
            <div class="grow"></div>
            {%- endif ~%}
            {%- if page.next is defined ~%}
            <a class="basis-1/2 py-3 px-4 font-medium hover:no-underline text-right border-solid border border-secondary-300 hover:border-primary-700 dark:hover:border-primary-400 rounded-md" href="{{ url(page.next) }}" title="{{ page.next.title }}">
              <div class="mb-2 text-sm text-secondary-600 dark:text-secondary-300">{% trans %}Next{% endtrans %}</div>
              <div>{{ page.next.title }} →</div>
            </a>
            {%- endif ~%}
          </nav>
          {%- endif ~%}